* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #19ac4f;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    align-content: space-between;
    justify-content: center;
    height: 100vh;
}

img {
    border-radius: 50%;
    border: 5px solid #1f1e1e;
    width: 100px;
    height: 100px;
}