* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #19ac4f;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

img {
    border-radius: 50%;
    border: 5px solid #1f1e1e;
    width: 150px;
    height: 150px;
}